CONFIG_ARC=y
CONFIG_SYS_DCACHE_OFF=y
CONFIG_CPU_BIG_ENDIAN=y
CONFIG_TARGET_NPS_SIM=y
CONFIG_ARC_CACHE_LINE_SHIFT=5
CONFIG_SYS_TEXT_BASE=0xf8c00000
CONFIG_SYS_CLK_FREQ=257000
CONFIG_SPL=y
CONFIG_BOOTDELAY=0
CONFIG_SYS_PROMPT="nps# "
CONFIG_OF_LIBFDT=y
# CONFIG_CMD_IMLS is not set
